Gentile ${businessName}<br/><br/>


Il documento <b>$documentType</b> è stato rifiutato.

<br/>
<br/>
questa mail e' stata generata in automatico, si prega di non rispondere.

<br/>
<a href="www.applica.guru">Applica</a>
